<div class="content">
    <header class="header1" >
            <h1> NEW RELEASES</h1>
            <p> Click on album cover or artist for more info</p>
    </header>

    <div fxLayout="row wrap" fxLayout.xs="column"  >
        <div fxFlex [style.margin]="'20px'" *ngFor="let rel of releases" >
            <mat-card [style.min-width]="'300px'" >
                <a [routerLink]="['/album' , rel.id]"  routerLinkActive="active" > 
                    <mat-card-header>
                        <mat-card-title>{{rel.name}}</mat-card-title>
                        <mat-card-subtitle>New Release</mat-card-subtitle>
                    </mat-card-header>
                </a>
                <img  (click)="openDialog(rel.images)" mat-card-image class="album-cover" src="{{rel.images[1].url}}" alt="album art" >
                <strong>Release Date: </strong>{{rel.release_date}}<br />
                <strong>Tracks: </strong>{{rel.total_tracks}}<br /><br />
                <mat-card-content>
                    <mat-chip-list aria-label="Artist selection">
                        <a [routerLink]="['/artist' , rel.artists[0].id]"  style="text-decoration: none;" > 
                            <mat-chip  (click)="checkRoutes(rel.artists[0].id)"  >{{rel.artists[0].name}}</mat-chip>
                        <mat-chip *ngIf="rel.artists[1]" >{{rel.artists[1].name}}</mat-chip>
                        </a>
                    </mat-chip-list>
                </mat-card-content>
            </mat-card>
        </div>  
    </div>
    
  </div>


  <!-- -->
