<div class="bigPicture" >
         <div class="topContent" >
                <h1 id=".header1" text-align:center >{{artist?.name}}</h1>
                    <img src="{{artist.images[0].url}}" alt="albumArt">
                <h1>Full Discography</h1>
        </div>

    <div fxLayout="row wrap" fxLayout.xs="column" >
        <div fxFlex [style.margin]="'20px'" *ngFor="let albs of albums"  >
                <mat-card [style.min-width]="'300px'" class="mat-elevation-z4" [style.max-width]="'400px'"  >
                    <a [routerLink]="['/album' , albs.id ]" routerLinkActive="active" style="text-decoration: none;" > 
                        <mat-card-header>
                            <mat-card-title>{{albs.name}}</mat-card-title>
                            <mat-card-subtitle>Album Title</mat-card-subtitle>
                         </mat-card-header>
                    </a>
                        <img  (click)="openDialog(albs.images)" mat-card-image class="album-cover"
                            src={{albs.images[0].url}} alt="album art">
                    <strong>Release Date: </strong>{{albs.release_date}}<br />
                    <strong>Tracks: </strong>{{albs.total_tracks}}
                </mat-card>                    
        </div>
    </div>

</div>